<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1>Hej! 👋</h1>
      <p>
        Välkommen till en variant av en julklappslek som vi i familjen kallar "Tärningsleken".
      </p>
      <p>
        Se till att läs reglerna innan du går med i ett spel (du kan läsa dessa när du har gått med i ett spel också).
      </p>
      <p>
        För att spela Tärningsleken måste du skriva in ett spelnamn i rutan nedanför. Detta får du av den som bjöd in dig hit 🙂
      </p>

      <ngb-alert [dismissible]="false" *ngIf="gameInvalid">
        Felaktigt spelnamn!
      </ngb-alert>

      <form (ngSubmit)="goToGameName()">
        <div class="form-group">
          <label for="gameName">
          <input type="text" class="form-control" id="gameName" name="gameNameValue" placeholder="Spelnamn" [(ngModel)]="gameNameValue">
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Gå med i spelet</button>
      </form>

      <p class="small mt-3">
        PS. Tänk på att detta spel är gjord för att användas på en dator eller en "padda". Det kommer vara svårt att spela detta spel på din mobil. Du har blivit varnad 😉
      </p>
      <hr>
      <app-rules></app-rules>
    </div>
  </div>
</div>
