<div class="row">
  <div class="col-12">
    <fa-icon (click)="diceClick()"
             [icon]="diceValues[currentDiceNumber]"
             size="10x"
             [ngClass]="{'text-primary': (itsMyTurn && !itsMyTurnWaiting) || (allowedToTakeGift || allowedToLooseGift)}"></fa-icon>
  </div>

  <div class="col-12 mt-3">
    <p *ngIf="itsMyTurn && !itsMyTurnWaiting">Din tur! Klicka för att rulla tärningen!</p>
    <p *ngIf="itsMyTurnWaitingText && itsMyTurnWaiting">Din tur, men <strong>{{previousPlayerName}}</strong> måste först {{itsMyTurnWaitingText}}!</p>

    <p *ngIf="allowedToTakeGift">Härligt! Nu får du ta en julklapp!</p>
    <p *ngIf="allowedToLooseGift">Oj oj! Nu behöver du ge bort en julklapp :(</p>

    <p *ngIf="!itsMyTurn && currentTurnPlayerName && (!allowedToTakeGift || !allowedToLooseGift)">Nu är det <strong>{{currentTurnPlayerName}}</strong> som ska rulla tärningen!</p>
  </div>
</div>
