<div class="text-center">
  <app-gift-image [gameName]="gameData.name" [gift]="gift" [smaller]="true"></app-gift-image>
  <button type="button"
          class="btn btn-block btn-primary btn-sm"
          [hidden]="!allowedToTakeGift"
          [disabled]="buttonsDisabled"
          (click)="takeGift()">Ta</button>
  <button type="button"
          class="btn btn-block btn-primary btn-sm"
          [hidden]="!allowedToLooseGift"
          [disabled]="buttonsDisabled"
          (click)="looseGift()">Ge bort</button>
</div>
