<div class="text-center">
  <img class="avatar rounded-circle img-thumbnail bg-secondary w-100"
       src="{{giftDownloadUrl}}"
       alt="{{gift.title}} bild">
  <button type="button"
          class="btn btn-block btn-primary btn-sm"
          [hidden]="!allowedToTakeGift"
          [disabled]="buttonsDisabled"
          (click)="takeGift()">Ta</button>
  <button type="button"
          class="btn btn-block btn-primary btn-sm"
          [hidden]="!allowedToLooseGift"
          [disabled]="buttonsDisabled"
          (click)="looseGift()">Ge bort</button>
</div>
