<div class="container" *ngIf="!gameData">
  <div class="row align-items-center">
    <div class="col text-center mt-5">
      <fa-icon [icon]="faSnowflake" [spin]="true" size="10x"></fa-icon>
      <h1 class="mt-3">Laddar</h1>
    </div>
  </div>
</div>

<div *ngIf="gameData" class="regular-game min-vh-100">
  <div>
    <header class="header header-footer-base py-4 w-100">
      <div class="container">
        <div class="row">
          <div class="col" *ngFor="let player of this.gamePlayersFirstHalf; let i=index">
            <app-user [playerData]="player"
                      [gameData]="gameData"
                      [playerNumber]="i"
                      [looseGiftDiceNumbers]="looseGiftDiceNumbers"
                      [takeGiftDiceNumbers]="takeGiftDiceNumbers"></app-user>
          </div>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-8">
            <app-gifts [gameData]="gameData"
                       [takeGiftDiceNumbers]="takeGiftDiceNumbers"></app-gifts>
          </div>
          <div class="col-4 text-center">
            <div *ngIf="!gameData.started && !gameData.ended && !thisIsFirstPlayer">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Spelets längd</th>
                    <td>{{lengthInSeconds / 60}} minuter</td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-lg btn-outline-primary" (click)="openRulesModal()">Läs regler</button>
            </div>
            <app-dice *ngIf="showTheDice"
                      [gameData]="gameData"
                      (looseGiftEvent$)="onLooseGiftEvent($event)"
                      (takeGiftEvent$)="onTakeGiftEvent($event)"></app-dice>
            <app-end-game-text *ngIf="showTheEndText"></app-end-game-text>
            <app-start-game-button *ngIf="thisIsFirstPlayer && !showTheDice && !showTheEndText"
                                   [gameData]="gameData"></app-start-game-button>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer header-footer-base py-4 w-100">
      <div class="container">
        <div class="row">
          <div class="col" *ngFor="let player of this.gamePlayersSecondHalf ; let i=index">
            <app-user [playerData]="player"
                      [gameData]="gameData"
                      [playerNumber]="i+4"
                      [looseGiftDiceNumbers]="looseGiftDiceNumbers"
                      [takeGiftDiceNumbers]="takeGiftDiceNumbers"></app-user>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
